@import url("moderncssreset.css");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.interactelement {
    height: 50vh;
    width: 7vmin;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all .2s ease-in-out;
    font-size: 10vmin;
    font-family: 'Fredoka One', cursive;
}

.thebigone {
    font-size: 30vmin;
    padding-bottom: 100px;
    z-index: 1;
    color: brown;
}

.thebigone + div {
    font-size: 15vmin;
    padding-bottom: 50px;
    color: rgb(88, 22, 22);
}

.interactelement:has(+ .thebigone){
    font-size: 15vmin;
    padding-bottom: 50px;
    color: rgb(88, 22, 22);
}

.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
}
