---

---
<div class="menu">
    <div class="menu-line1"></div>
    <div class="menu-line2"></div>
    <div class="menu-line3"></div>
</div>

<style>
    .menu, .menu-line1, .menu, .menu-line2, .menu, .menu-line3 {
        border: 1px solid black;
    }

    .menu {
        width: 20px;
        height: 20px;
    }
    
</style>